{% extends 'layouts.html' %}
{% block content %}
{% load static %}

{% comment %} slider section {% endcomment %}
<div class="row">
    <div class="col-md-12">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for banner in bannerData %}
              {% if forloop.counter == 1 %}
              <div class="carousel-item active">
                {% if banner.image %}
                <img src="{{banner.image.url}}" height="450" class="d-block w-100" alt="...">
                {% endif %}
              </div>
              {% else %}
              <div class="carousel-item">
                {% if banner.image %}
                <img src="{{banner.image.url}}" height="450" class="d-block w-100" alt="...">
                {% endif %}
              </div>
              {% endif %}
              {% endfor %}
             
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

    </div>
</div>
{% comment %} end slider sectiond {% endcomment %}

{% comment %} News section {% endcomment %}
<div class="row">
    <div class="col-md-12 mt-5">
        <h1>News Section</h1>
    </div>
</div>
<div class="row mt-3">
  {% for news in newsData%}
    <div class="col-md-4 mb-3">
        <div class="card">
          {% if news.image %}
            <img src="{{news.image.url}}" height="200" class="card-img-top" alt="...">
          {% endif %}
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'news' news.slug %}">{{news.title}}</a></h5>
              <p class="card-text">
                {{news.limit_description | safe}}
              </p>
              <a href="{% url 'news' news.slug %}" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    {% endfor %}
    
</div>

{% comment %} end news section {% endcomment %}


{% endblock %}
