{% extends 'layouts.html' %}
{% block content %}
{% load static %}


{% comment %} News section {% endcomment %}
<div class="row">
    <div class="col-md-8 mt-5">
        <h1><a href="">Crashed Embraer jet had good safety record  </a></h1>
        <img src="{% static 'image/a.jpg' %}" class="img-fluid" alt="">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat adipisci temporibus ipsa! Magni deleniti assumenda dicta. Enim nobis beatae animi iste, molestiae fuga. Omnis libero ipsam officia dolore quas. Non.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa accusantium autem minima rem dolore distinctio possimus veritatis deleniti neque corporis dignissimos voluptates modi, corrupti dolorum ut tempora aut quo cumque animi ipsum eaque? Culpa repellendus ducimus repellat inventore modi delectus quia consequatur reprehenderit libero, commodi eius excepturi deserunt placeat tempore non reiciendis itaque veniam sit molestias consequuntur est! Est dolorum accusamus doloribus, consectetur ullam maiores facilis, nobis illum minima laboriosam possimus rerum eaque exercitationem vel, cumque itaque fugiat debitis aliquid sit ut maxime quaerat corrupti voluptas? Suscipit, quia autem! Atque error at fugiat expedita magnam, quaerat delectus ab? Earum, iste!
        </p>
    </div>
    <div class="col-md-4 mt-5">
        <h1>Related news</h1>
        <ul>
            <li><a href="">this is first post</a></li>
            <li><a href="">this is second post</a></li>
        </ul>
    </div>
    

</div>


{% comment %} end news section {% endcomment %}




{% endblock %}
